.type{
    text-align: center;
    font-size: x-large;
    border: 2px solid black;
    padding: 10px;
    width: 480px;
    background-color: hsl(177, 60%, 79%);
}
.main{
    display: inline-block;
    background-color: rgb(228 240 245);
    width: 300px;

}
img{
    border: 2px solid rgb(19, 13, 220);
    padding: 10px;

}
h2{
    text-align: center;
}